---
import Layout from '../layouts/Layout.astro';
import { Button } from '@/components/ui/button';
---

<Layout title="Courtier en travaux de rénovation - ALVA">
	<div class="flex flex-row items-center px-12">
		<div class="flex flex-col items-center gap-4 bg-secondary bg-[url('/background-alva-city-renovation.svg')] bg-bottom bg-cover pt-24 pb-[10rem] mb-8 rounded-xl relative w-full">
			<div class="w-1/2 mx-auto text-center"> 
				<div>
					<div class="bg-white rounded-full pl-28 pr-8 py-2 inline-block text-xs mb-8 relative">
						<span class="font-bold py-2 px-4 absolute top-0 left-0 bg-primary text-secondary rounded-full">Nouveautés</span>
						<p> Nos courtiers en travaux négocient pour vous les meilleurs prix</p>
					</div>
				</div>
				<h1 class="text-6xl leading-[4.4rem] font-bold">Estimez facilement vos projets de rénovation</h1>
				<p class="text-lg mt-4">
					Découvrez nos estimateurs en ligne et gratuit pour vous aider à penser vos projets rénovation de vos biens immobiliers. Alva vous aide à trouver les meilleurs prix, les aides, les financements disponibles pour votre projet.</p>
			</div>
			<div class="flex justify-center absolute top-full -translate-y-1/3 gap-8">
				<div class="p-8 rounded-xl bg-white w-1/4 text-center shadow-lg">
					<div class="flex justify-center">
						<img width="80" src="/classe-energetique.svg" alt="">
					</div>
					<h2>Simulez la note de votre DPE</h2>
					<p class="text-sm">Simulez la note DPE de votre bien immobilier et détectez les travaux les plus efficients pour augmenter la note de votre logement.</p>
					<Button className="text-secondary font-bold mt-6">Simulez mon DPE</Button>
				</div>
				<div class="p-8 rounded-xl bg-white w-1/4 text-center shadow-lg">
					<div class="flex justify-center">
						<img width="80" src="/ventilation.svg" alt="">
					</div>
					<h2>Estimez le prix de vos travaux</h2>
					<p class="text-sm">Obtenez une estimation du prix des travaux qui vous aideront à améliorer la performance énergétique de votre logement.</p>
					<Button className="text-secondary font-bold mt-6">Estimez le prix</Button>
				</div>
				<div class="p-8 rounded-xl bg-white w-1/4 text-center shadow-lg">
					<div class="flex justify-center">
						<img width="80" src="/facturer.svg" alt="">
					</div>
					<h2>Trouvez des financements</h2>
					<p class="text-sm">Concrétisez votre projet en vous projectant sur vos économies réalisées et la meilleure façon de faire financer votre projet de rénovation.</p>
					<Button className="text-secondary font-bold mt-6">Trouver un financement</Button>
				</div>
			</div>
		</div>
	</div>
	<div class="mt-[12rem] px-12 py-8 flex flex-col items-center">
		<div class="w-1/2 p-12 text-center">
			<h2 class="text-4xl font-bold">Vous perdez de l'argent tous les jours !</h2>
			<p class="text-lg mt-4">Jeteriez-vous votre argent par les fenêtres ? Non, et pourtant, c'est une réalité pour beaucoup de logement en France. Faire le bilan de votre bien immobilier peut vous aider à combler les déficiences énergétique de votre logement et vous aidera à économiser sur votre facture à la fin de mois.</p>
			<h3>3 bonnes raisons de faire le bilan énergétique de votre logement :</h3>
		</div>
		<div class="w-5/6 flex gap-12 px-12">
			<div class="w-1/3 p-8 border rounded-xl">
				<div class="flex items-center gap-6 mb-4">
					<div class="bg-secondary p-2 rounded-full">
						<img width="30" src="/argent-en-euros.svg" alt="">
					</div>
					<h4>Faire des économies</h4>
				</div>
				<p>La note de votre DPE, determinera de la performance énergétique de votre logement. Plus la note est mauvaise, plus cela indique que le gaspillage énergétique de votre logement est élevé. Cela signifie qu'un gros pourcentage de votre facture énergétique est perdu dans la nature.</p>
			</div>
			<div class="w-1/3 p-8 border rounded-xl">
				<div class="flex items-center gap-6 mb-4">
					<div class="bg-secondary p-2 rounded-full">
						<img width="30" src="/maison.svg" alt="">
					</div>
					<h4>Gagner en confort</h4>
				</div>
				<p>Avec un logement mal isolé, difficile de garder le chaud en hivers et le frais en été. En améliorant la note de votre DPE en entrepenant des travaux de rénovation, vous augmenter le critère confort de votre logement sans vous ruiner.</p>
			</div>
			<div class="w-1/3 p-8 border rounded-xl">
				<div class="flex items-center gap-6 mb-4">
					<div class="bg-secondary p-2 rounded-full">
						<img width="30" src="/valeur-de-la-maison.svg" alt="">
					</div>
					<h4>Valoriser le bien</h4>
				</div>
				<p>Pour un même logement, dans la même ville, avec les mêmes spécificités, une lettre de moins sur votre DPE c'est en moyenne 18% de dévalorisation du prix du bien immobilier. En augmentant le potentiel énergétique de votre logement par la rénovation, vous optimisez aussi sa valeur sur le marché !</p>
			</div>
		</div>
		<div class="w-2/6 text-center">
			<Button className="text-secondary font-bold mt-8">Découvrir la note DPE de mon logement gratuitement*</Button>
			<p class="text-[0.8rem] mt-4">*Notre estimateur ne se substitue pas à un DPE certifié. Pour obtenir la note réelle de votre logement, faîtes appel à un diagnostiqueur immobilier professionnel qui pourra réaliser un devis pour vous fournir votre DPE officiel.</p>
		</div>
	</div>
	<div class="mt-12 px-24 py-8 flex items-center justify-between">
		<div class="w-1/2">
			<h2 class="text-4xl font-bold">Quels travaux pour améliorer la performance énergétique de votre logement ?</h2>
			<h3 class="mb-8">Nous vous guidons étapes par étapes pour une rénovation réussie.</h3>
			<div class="pl-4 border-l-4 mb-8 border-secondary w-[700px]">
				<h4>1. La note de votre DPE</h4>
				<p>La note de votre DPE déterminera les faiblesse énergétique de votre logement et vous donnera des indications sur les travaux à réaliser.</p>
			</div>
				<div class="pl-4 border-l-4 mb-8 border-secondary w-[700px]">
				<h4>2. Estimez le coût de vos travaux</h4>
				<p>Vous avez les informations sur les travaux à réaliser. Estimer le prix ainsi que les économies que vous réaliserez pour vous aider dans la prise de décision.</p>
			</div>
			<div class="pl-4 border-l-4 mb-8 border-secondary w-[700px]">
				<h4>3. Trouvez les aides & financements</h4>
				<p>En fonction du montant des travaux à réaliser et de votre revenu fiscale, estimez les aides disponibles et les sources de financements possibles pour vous aider à concrétiser votre projet.</p>
			</div>
			<div class="pl-4 border-l-4 border-secondary w-[700px]">
				<h4>4. Trouvez des artisans</h4>
				<p>Demandez et comparez les devis des artisans certifiés RGE. Pour vous aider, nous vous proposons une offre de courtage auprès de notre réseau de professionnels de confiance.</p>
			</div>
		</div>
		<div>
			<img src="/travaux-renovation-alva.svg" alt="">
		</div>
	</div>
</Layout>

<style>
	main {
	}
</style>
