---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="courtiers en travaux">
  <div>
    <div class="w-1/2 mx-auto text-center py-12">
      <h1 class="text-6xl leading-[4.5rem]">Facilitez votre rénovation énergétique</h1>
      <p>Nos courtiers en travaux s'occupent pour vous de trouver le meilleur prix auprès d'un réseau de partenaires artisans qualifiés et experts de leur domaine</p>
    </div>
  </div>
</Layout>