---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Nos partenaires">
  <div>
    <div class="w-1/2 mx-auto text-center">
      <h1>Guide sur les systèmes de chauffage</h1>
    </div>
  </div>
</Layout>